
.test-example{
    width: 100%;
    margin: 20px auto;
    background-color: white;
    border-bottom: 5px dotted #e3e3e3;
    border-left: 4px solid transparent;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    padding: 15px 0;

}
.test-example:hover{
    background-color: #fafafa;
}
.test-example2{
    border-left: 4px solid #FF8F5E;
}
.test-quiz{
    padding: 20px 15px;
}
.test-variant{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .5s;
}
.test-variant:hover{
    background-color: #FF8F5E;
    color: white;
}
.test-variant:hover .next-test{
    background-color: rgb(202, 86, 4);
    color: white;
}
.test-variant p{
    padding: 20px;

}
.test-example p{
    margin: 0;
}
.next-test{
    padding: 20px;
    color: white;
}
.test-var{
    margin-right: 10px;
    font-weight: 500;
}
.test-num{
    margin-right: 15px;
    font-weight: 500;
}
.selected-item{
    background-color: black;
    color: white;
}
.selected-item .next-test{
    padding: 30px 20px;
}
.selected-item p{
    padding: 30px 20px;
}
.selected-item:hover{
    background-color: black;
    color: white;
}
.selected-item:hover .next-test{
    background-color: rgb(24, 24, 24);
    color: white;
}